<div>
    <p>
      Countries in different <b>income groups</b> are troubled by different types of mental illness, so as people in
      different phase of their life. The charts below demonstrates these differences in multiple facets.
    </p>
    <p>
      Considering <b>types</b> of mental illness in different income country groups, the most remarkable difference comes
      from
      conduct disorder and idopathic intellectual. Low-income countries suffer more of these two illness than higher
      income
      countries.
    </p>
    <p><b>Ageness</b> is also closely related to types of mental illness in people. Depressive disorder, anxiety disorders
      and
      other mental disorders grows as age grows. Nevertheless, Attention-deficit/hyperactivity disorder, conduct
      disorder
      and intellectual disability are more rarely seen in higher age groups.</p>
  </div>

<section class="bg-light">
  <div class="row justify-content-center">

    <div class="fig2">
      <svg id="bubble-income-type" height="480" width="800"></svg>
    </div>

    <div class="column">
      <div class="card bg-light " style="width: 18rem; height:15rem; border-color:white">
        <div class="card-body">
          <h5 class="card-title">Trend In <span id="region" style="color:#dbbc0a">Global</span> Countries</h5>
          <h6 class="card-subtitle mb-2 text-muted">2017 Data</h6>
          <p class="card-text text-md-left">
            Highest Type is:<br> <b><span id="highest"> </span></b> <br>
            Lowest Type is: <br> <b><span id="lowest"> </span></b>
          </p>

        </div>
      </div>

      <button type="button" class="btn btn-dark" id="reset"> Reset to Global</button><br><br>
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-body text-dark">
          <h5 class="card-title">How to Interact</h5>
          <p class="card-text">·Click bubble to select/return groups
            <br>·Select/unselect types at legends
            <br>·Move mouse over bar to see details</p>
        </div>
      </div>
    </div>
    <!-- column end -->

  </div>

  <div class="fig1">
    <svg id="barchart-age-type" height="400" width="1090"></svg>
  </div>

</section>