<h4>
  <span class="badge badge-secondary">Depression Rate of Genders, Examining with Country Population and Region</span>
</h4>




<p>Depressive order is one of the most serious mental conditions one might encounter in life. People with depressive illness suffers from loss, depression and suicide. In term of depressive order, physical factors of age and sex, social-economical factor of country economy are examined.</p>
<p>Law of equilibrium fails when it comes to gender distribution of depression. Female prevalence is higher than male in all countries with valid data, regardless of poplation or geographical location.</p>
<body>
  <div id="depression-sex-scatter-svg">
    <svg id="depression-sex-scatter"  style="display: block;margin: auto"></svg>
  </div>
</body>
