
<h4>
  <span class="badge badge-secondary">  Depression Rate of Different Economic Performance and HDI </span>
</h4>

<p>
  Depression is clearly related with gender from last section. Now we'd like to explore an important factor, that is emconomy, at country scale.
</p>

<p>
  We examine the economy in two metrics:<b>GDP Per Capita</b> and <b>Human Development Index(HDI)</b>.
</p>

<p>
  GDP Per Capita is a general metric for countries and . HDI combines education and health other than economic data, better indicating the quality of economy in a country.
</p>

<p>
  From the chart, we see that countries with higher depression rate are mostly with medium or higher HDI. Countries with medium and higher GDP per capital are mostly with medium and higher depression rate. Does it mean that better life causes more depression? Correlation doesn't mean causation. It is likely that mental health is much more enphasized in countries of better economic performance. Further investigation is required for this question.
</p>

<body>
  <div id="depression-gdp-svg">
    <svg id="depression-gdp-scatter" style="display: block;margin: auto" ></svg>
  </div>
</body>